nav{
    height: 50px;
    width: 100%;
    background-color: $yellow;

    .logo{
        position:absolute;
       // align-items: center;
        font-family: Lato;
        font-size: 40px;
        width: 180px;
       // background-color: blue;
        //top: 20px;
        left: 10px;


    }

    .links{
        position: absolute;
        right: 20px;
        top: 15px;
        min-width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            font-size: 20px;
            font-family: Gills;
            color: black;
            margin-left: 20px;
        }
    }
     div#logOut{
        display: none ;
    }
    div#create{
        display: none ;
    }

}

@media screen and (max-width: 700px) {

    nav{
        .logo{
            display: none;
        }
    }
        
}
