* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  height: 100%;
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Gills";
  src: url(../fonts/GillSansUltraBold.ttf);
}
nav {
  height: 50px;
  width: 100%;
  background-color: #FFEA96;
}
nav .logo {
  position: absolute;
  font-family: Lato;
  font-size: 40px;
  width: 180px;
  left: 10px;
}
nav .links {
  position: absolute;
  right: 40px;
  top: 15px;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  font-size: 20px;
  font-family: Gills;
  color: black;
  margin-left: 20px;
}
nav div#logOut {
  display: none;
}
nav div#create {
  display: none;
}

@media screen and (max-width: 700px) {
  nav .logo {
    display: none;
  }
}
footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #707070;
  position: relative;
  bottom: 30px;
}

.home {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 122, 83, 0.75)), to(rgba(238, 122, 83, 0.75))), url("../img/jammin-home-hero.jpg");
  background-image: linear-gradient(to right, rgba(238, 122, 83, 0.75), rgba(238, 122, 83, 0.75)), url("../img/jammin-home-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
}
.home .content {
  height: 540px;
  max-width: 430px;
  margin: 50px auto;
  background-color: white;
  border-radius: 40px;
  border: solid #FFEA96 8px;
  font-family: lato;
  padding-bottom: 80px;
}
.home .content .title {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
.home .content .about {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}
.home .content .slide {
  width: 370px;
  height: 250px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 40px;
}
.home .content .slide img {
  width: 370px;
  height: 250px;
  margin: 0 auto;
  border-radius: 15px;
}
.home .content .slide .scroll {
  height: 100%;
  width: 100%;
}

.login {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 122, 83, 0.75)), to(rgba(238, 122, 83, 0.75))), url("../img/jammin-home-hero.jpg");
  background-image: linear-gradient(to right, rgba(238, 122, 83, 0.75), rgba(238, 122, 83, 0.75)), url("../img/jammin-home-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.login .form__flex {
  margin: 0 auto;
  width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login .form__flex .form__holder {
  background-color: #EE5353;
  border: solid #FFEA96 8px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  min-height: 300px;
}
.login .form__flex .form__holder.--signup {
  height: 370px;
}
.login .form__flex .form__holder .head__holder {
  position: relative;
  top: 20px;
}
.login .form__flex .form__holder .head__holder p.head {
  font-family: Gills;
  font-size: 30px;
  text-align: center;
  position: relative;
}
.login .form__flex .form__holder .input__holder {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login .form__flex .form__holder .input__holder button {
  border: none;
}
.login .form__flex .form__holder .input__holder.--signup {
  height: 300px;
}
.login .form__flex .form__holder .input__holder input {
  margin-top: 20px;
  background-color: transparent;
  outline: none;
  width: 200px;
  height: 30px;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid black;
}
.login .form__flex .form__holder .input__holder input::-webkit-input-placeholder {
  font-family: Lato;
  font-size: 16px;
  color: black;
  position: relative;
  bottom: -5px;
}
.login .form__flex .form__holder .input__holder input::-moz-placeholder {
  font-family: Lato;
  font-size: 16px;
  color: black;
  position: relative;
  bottom: -5px;
}
.login .form__flex .form__holder .input__holder input:-ms-input-placeholder {
  font-family: Lato;
  font-size: 16px;
  color: black;
  position: relative;
  bottom: -5px;
}
.login .form__flex .form__holder .input__holder input::-ms-input-placeholder {
  font-family: Lato;
  font-size: 16px;
  color: black;
  position: relative;
  bottom: -5px;
}
.login .form__flex .form__holder .input__holder input::placeholder {
  font-family: Lato;
  font-size: 16px;
  color: black;
  position: relative;
  bottom: -5px;
}
.login .form__flex .form__holder .input__holder .button {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #FFEA96;
  font-family: Lato;
  width: 170px;
  height: 42px;
  border-radius: 40px 40px;
  line-height: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 18px;
}
.login .form__flex .form__holder #googleLogIn {
  margin-top: -20px;
}

@media screen and (max-width: 768px) {
  .login {
    height: 1060px;
  }
  .login .form__flex {
    height: 850px;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 565px) {
  .login {
    height: 1100px;
  }
  .login .form__flex {
    height: 750px;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.recipes-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 122, 83, 0.75)), to(rgba(238, 122, 83, 0.75))), url("../img/jammin-hero-recipe.jpg");
  background-image: linear-gradient(to right, rgba(238, 122, 83, 0.75), rgba(238, 122, 83, 0.75)), url("../img/jammin-hero-recipe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  background-attachment: fixed;
}
.recipes-page .filters {
  margin-top: 40px;
  width: 150px;
  background-color: #EE5353;
  border: solid 4px #FFEA96;
  border-left: none;
}
.recipes-page .filters__container {
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recipes-page .filters__container__head {
  text-align: center;
  font-size: 25px;
  font-family: Gills;
}
.recipes-page .filters__container__section {
  margin-top: 15px;
  text-align: center;
}
.recipes-page .filters__container__section__head {
  margin-bottom: 10px;
  font-family: Gills;
  font-size: 20px;
}
.recipes-page .filters__container__section__button {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #FFEA96;
  font-family: Lato;
  width: 100px;
  height: 35px;
  border-radius: 40px 40px;
  line-height: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 16px;
}
.recipes-page .filters__container__section__button.--submit {
  width: 110px;
}
.recipes-page .filters__container__section__button.--selected {
  background-color: blue;
}
.recipes-page .filters__container__section__button.--not-selected {
  background-color: #FFEA96;
}
.recipes-page .recipes {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}
.recipes-page .recipes .recipe {
  margin-top: 50px;
  height: 370px;
  width: 320px;
  background-color: #FFEA96;
  border-radius: 30px;
  border: solid 8px #FFEA96;
  overflow: hidden;
}
.recipes-page .recipes .recipe__head {
  position: relative;
  top: -4px;
  text-align: center;
  font-family: Gills;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFEA96;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  overflow: hidden;
}
.recipes-page .recipes .recipe__info {
  height: 400px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  text-align: center;
  font-family: Gills;
  font-size: 14px;
}
.recipes-page .recipes .recipe__info .recipe__image {
  border-radius: 10px;
  margin: 0 auto;
  width: 267px;
  height: 200px;
  margin-top: 10px;
}
.recipes-page .recipes .recipe__info__type, .recipes-page .recipes .recipe__info__difficulty, .recipes-page .recipes .recipe__info__prep {
  margin-bottom: 10px;
}
.recipes-page .recipes .recipe__info__type {
  margin-top: 5px;
}

.description-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 122, 83, 0.75)), to(rgba(238, 122, 83, 0.75))), url("../img/jammin-hero-recipe.jpg");
  background-image: linear-gradient(to right, rgba(238, 122, 83, 0.75), rgba(238, 122, 83, 0.75)), url("../img/jammin-hero-recipe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  background-attachment: fixed;
  overflow: hidden;
}
.description-page .desc {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border: solid 6px #FFEA96;
  border-radius: 20px;
}
.description-page .desc .desc__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.description-page .desc .desc__top__image {
  background-color: #EE5353;
  height: 300px;
  width: 400px;
  margin-top: 60px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.description-page .desc .desc__top__image__title {
  font-family: Gills;
  font-size: 25px;
  position: relative;
  top: -50px;
}
.description-page .desc .desc__top__info {
  width: 350px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-family: Gills;
}
.description-page .desc .desc__top__info__detail {
  margin-top: 15px;
}
.description-page .desc .desc__top__info .fill {
  color: #773344;
  text-align: right;
  position: relative;
}
.description-page .desc .desc__top__info p {
  margin-top: 20px;
  font-family: Lato;
  color: #773344;
}
.description-page .desc .desc__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
  font-family: Lato;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.description-page .desc .desc__bottom h1 {
  font-family: Gills;
}
.description-page .desc .desc__bottom__ingred {
  width: 300px;
  margin-bottom: 20px;
}
.description-page .desc .desc__bottom__ingred ul {
  margin-left: 15px;
}
.description-page .desc .desc__bottom__instruct {
  width: 300px;
  margin-bottom: 20px;
}
.description-page .desc .desc__bottom__instruct ol {
  margin-left: 15px;
}
.description-page .desc .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 10px;
  height: 120px;
}
.description-page .desc .buttons .button {
  margin-bottom: 15px;
  text-align: center;
  background-color: #FFEA96;
  font-family: Lato;
  width: 110px;
  height: 35px;
  border-radius: 40px 40px;
  line-height: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .desc .desc__top__image {
    margin: 20px;
  }
  .desc .desc__top__info {
    margin: 20px;
    width: 400px;
  }
}
.create-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 122, 83, 0.75)), to(rgba(238, 122, 83, 0.75))), url("../img/jammin-hero-recipe.jpg");
  background-image: linear-gradient(to right, rgba(238, 122, 83, 0.75), rgba(238, 122, 83, 0.75)), url("../img/jammin-hero-recipe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  background-attachment: fixed;
  overflow: hidden;
}
.create-page .create {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 49px;
  background-color: white;
  margin-top: 60px;
  border: solid 8px #FFEA96;
  border-radius: 30px;
  font-family: Lato;
  font-size: 20px;
}
.create-page .create h1 {
  font-family: Gills;
  font-size: 35px;
  font-weight: 100;
  position: relative;
  top: 50px;
  text-align: center;
  margin-bottom: 40px;
}
.create-page .create .form {
  position: relative;
}
.create-page .create .form .create-recipe {
  margin: 0 auto;
  text-align: center;
  background-color: #FFEA96;
  font-family: lato;
  width: 250px;
  height: 52px;
  border-radius: 40px 40px;
  line-height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 25px;
  margin-top: 100px;
}
.create-page .create .form .add {
  height: 38px;
  width: 38px;
  border-radius: 20px;
  color: black;
  background-color: #FFEA96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  position: absolute;
  right: 70px;
  bottom: -60px;
}
.create-page .create .form .attach {
  height: 38px;
  width: 110px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  font-family: Caveat;
  top: 67px;
  right: 5px;
  background-color: #FFEA96;
  position: absolute;
}
.create-page .create .form select {
  width: 750px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: black solid 2px;
  height: 30px;
  font-family: Lato;
  font-size: 20px;
  margin-top: 80px;
  color: black;
}
.create-page .create .form textarea {
  width: 750px;
  background-color: transparent;
  height: 100px;
  font-family: Lato;
  font-size: 20px;
  margin-top: 80px;
  color: black;
}
.create-page .create .form input {
  width: 750px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: black solid 2px;
  height: 30px;
  font-family: Lato;
  font-size: 20px;
  margin-top: 80px;
  color: black;
}
.create-page .create .form .title {
  width: 100%;
  position: relative;
  top: 40px;
  font-family: Gills;
  left: 70px;
}
.create-page .create .form .general {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.create-page .create .form .ingredients {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.create-page .create .form .instructions {
  position: relative;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.create-page .file-upload {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  top: 98px;
  left: 320px;
  background-color: #FFEA96;
  border-radius: 14px;
}
@media screen and (max-width: 900px) {
  .create-page .create {
    width: 500px;
  }
  .create-page .create .general input, .create-page .create .general select, .create-page .create .general textarea, .create-page .create .ingredients input, .create-page .create .ingredients select, .create-page .create .ingredients textarea, .create-page .create .instructions input, .create-page .create .instructions select, .create-page .create .instructions textarea {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .create {
    width: 300px;
  }
  .create .general input, .create .general select, .create .ingredients input, .create .ingredients select, .create .instructions input, .create .instructions select {
    width: 300px;
  }
}
.edit-recipe {
  margin: 0 auto;
  text-align: center;
  background-color: #FFEA96;
  font-family: lato;
  width: 250px;
  height: 52px;
  border-radius: 40px 40px;
  line-height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 25px;
  margin-top: 100px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}